<!DOCTYPE html>
<html>
<head>
	<title>Daily Expenses</title>
	<meta charset="UTF-8">
	 <link rel="stylesheet" href="{{ url_for('static', filename='trial.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Lato|Playfair+Display|Heebo|Roboto:900|PT+Serif:700" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
	<h1>PennyWise</h1>
	<div id="container">
		<div id="chart_div"></div>
	</div>
	<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
<script type="text/javascript">
	window.onload = function() {
  		usage();
};
</script>
</html>